/* Styles for the header */
header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

h1 {
    color: rgb(2, 2, 2);
}

/* Styles for the main content */
main {
    margin: 20px;
}

/* Styles for the form */
form {
    width: 60%;
    margin: 0 auto;
}

/* Style for form fields */
form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the submit button */
form button[type="submit"] {
    background-color: #ac8a8a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
