 .header {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
     color: white;
     inline-size: none;
     background: transparent;
     vertical-align: baseline;
 }

 .header img {
     width: 63px;
     height: 104px;
     object-fit: cover;
 }

 .church-title {
     color: black;
     text-align: left;
     padding: 30px 30px;
     text-decoration: wavy;
 }

 .navbar {
     display: flex;
     justify-content: flex-end;
     background-color: white;
     width: auto;
     overflow: hidden;
 }

 .navbar a {
     float: right;
     display: block;
     color: black;
     text-align: center;
     padding: 30px 30px;
     text-decoration: none;
 }

 .navbar a:hover {
     background-color: #ddd;
     color: black;
 }

 .main-content {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     background-color: #f2f2f2;
     padding: 20px;
 }

 .image-container img {
     float: left;
     height: 500px;
     width: auto;
     text-align: center;

 }

 .text-container {
     text-align: center;
     font-family: Georgia, serif;

 }

 .text-container h1 {
     font-size: 50px;
 }

 .text-container h2 {
     font-size: 50px;
 }

 .text-container h3 {
     font-size: 35px;
     text-decoration: underline;
 }

 .text-container p {
     font-size: 35px;
 }