{% load static %}
<!doctype html>
<html>
    <head>

        <title>IGLESIA BAUTISTA | SOLI DEO GLORIA</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

    </head>
    <body>

                <nav class="navbar navbar-expand-lg navbar-light">
                <div class="church-title">
                    <h1>IGLESIA BAUTISTA <br> SOLI DEO GLORIA</h1>
                </div>
                        <a class="navbar-brand" href="{% url 'main_page' %}"> Inicio </a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about_us' %}">
                                        <span class="navbar-text">
                                            Acerca de Nosotros
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'donation' %}">
                                        <span class="navbar-text">
                                            Donativos
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contacto' %}">
                                        <span class="navbar-text">
                                            Contacto
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                </nav>

        <main>
            <!-- Your main content here -->
        </main>
        {% block content %}
        {% endblock %} 

    </body>
</html>
