{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static "ChurchApp/about_us.css" %}">
  </head>

  <div class="about-us">
    <h1>PROPÓSITO, COMPROMISO Y AUTORIDAD</h1>
    <div class="about-text">
      <p>
        Nuestro propósito como iglesia es glorificar al Señor Jesucristo mediante la predicación de la Palabra de Dios, la evangelización de los pecadores, y la edificación de los santos. Estamos comprometidos a proclamar el Evangelio de Dios acerca de su hijo Jesucristo para la salvación del pecador “porque por gracia sois salvos por medio de la fe; y esto no de vosotros, pues es don de Dios; no por obras para que nadie glorie”. También estamos comprometidos a la defensa de la fe “que ha sido una vez dada a los santos”.
       </p>
      <p style="margin-bottom: 20px;"> <!-- Adjust the margin value to create space -->
        Reconocemos y aceptamos que nuestra autoridad de Fe y Práctica proviene solo de la Biblia.
      </p>
      <div class='LetterStart'>
      <p>
        A continuación hay una carta de nuestra pastor.
      </p>
    </div>
      {% if show_letter %}
        {% include 'letter.html' %}
      {% endif %}
    </div>
    <p class="btn-container">
        <a href="{% url 'toggle_letter' %}" class="btn">Oprime El botón</a>
    </p>
  </div>
  <div class="churchImage">
    <img src='{% static "churchPeople.jpg" %}' alt="image description">
</div>

{% endblock %}
