{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
    <title>Contacto</title>
    
    <link rel="stylesheet" type="text/css" href="{% static "churchApp/contact.css" %}">
    <link rel = "stylesheet" type="text/css" href="{% static "ChurchApp/style.css" %}">
</head>
<body>
    <header>
        <h1>Contacto del Pastor</h1>
    </header>
    <main>
        {% if thank_you_message %}
            <p>{{ thank_you_message }}</p>
        {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        {% endif %}
    </main>

</body>


{% endblock %} 