{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "ChurchApp/donation.css" %}">

<body id="bg" style="background-image: url('{% static "worldImage.jpg"%}')";>
    <div class="container">
        <div class="header">
            <h1>Donación a la Iglesia</h1>
        </div>
        <div class="content">
            <p>¡Gracias por tu generosidad!</p>
            <p>Si deseas hacer una donación, puedes hacerlo a través de nuestro botón de donación seguro:</p>
            <form method="post" action="{% url 'process_donation' %}">
                {% csrf_token %}
                <!-- Add donation amount input field if needed -->
                <!-- Example: <input type="text" name="amount" placeholder="Amount"> -->
                <button type="button">Hacer una Donación</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}
