{% extends 'base.html'%}
{% block content %}
{% load static %}

<html>
<head>
    <title>Iglesia Bautista <br> Soli Deo Gloria</title>
    <link rel="stylesheet" type="text/css" href="{% static "ChurchApp/letter.css" %}">
</head>
<body>
    <div class="container">

        <h1><span class="cursive">Iglesia Bautista</span> <br> <span class="cursive"> Soli Deo Gloria</h1>


        <h2>Marzo 7, 2022</h2>
        
        <p>¡Querida Iglesia y Amigos!</p>
        
        <p>¡Saludos a todos en el nombre de Jesucristo, que es Señor y Salvador!</p>
        
        <p>Hoy día, hace cuatro (4) meses atrás nuestra iglesia abrió sus puertas con el propósito de dar gloria solo a Dios por medio de la predicación del Evangelio de Jesucristo a los perdidos ya que Él “vino a buscar y a salvar lo que se había perdido”. De modo que creemos que Jesucristo, “El Cordero que fue inmolado es digno de tomar el poder, las riquezas, la sabiduría, la fortaleza, la honra, la gloria y la alabanza.”</p>
        
        <p>Al mirar desde el primer día hasta ahora, ¿cómo se describe el crecimiento numérico realizado en nuestra iglesia en estos últimos cuatro meses? Como testigos de las maravillas de Dios, ¿cómo se explican las bendiciones derramadas sobre nuestra iglesia? Solo puedo decir que es únicamente por la gracia de Dios y su mano que ha sido buena sobre nuestra iglesia. Ni nuestra existencia ni nuestra bendición han venido por la fuerza del hombre sino como Jehová dijo a Zorobabel “No con ejército, ni con fuerza, sino con mi Espíritu, ha dicho Jehová de los ejércitos”. ¡Por lo tanto, debemos darle a Dios toda la gloria y gracias por las bendiciones otorgadas a nuestra iglesia a través de su Espíritu!</p>
        
        <p>Después de cuatro meses, nuestra asistencia sigue creciendo, la fuente de la gozo no ha dejado de brotar, el Espíritu de unidad y cooperación sigue uniéndonos, y el Espíritu Santo hace sentir su presencia en nuestros servicios. ¡Hemos tenido dos personas que han llegado a salvación en Jesucristo y esperamos bautizarlas pronto!</p>
        
        <p>En obediencia a su Palabra y con la ayuda de Dios, continuaré predicando la Biblia sin disculparme por su contenido y no buscaré torcer las Escrituras por conveniencia, cuando es oportuno, o por vergüenza. Por lo tanto, creo firmemente que por fidelidad a su Palabra la Iglesia Bautista Soli Deo Gloria recibirá las bendiciones de Dios.</p>
        
        <p>A nuestra iglesia, les pido que continúen orando ya que nuestro trabajo apenas ha comenzado. Oren por mas trabajadores, oren por los líderes, oren por las familias de nuestra iglesia, oren por el crecimiento espiritual de nuestra iglesia, oren por el crecimiento numérico de nuestra iglesia, oren para que podamos guiar a otros al conocimiento de Jesucristo para salvación, oren para que Dios sea glorificado a través de nuestro ministerio, y oren sin cesar! Por último, oren por un edificio o que el Señor nos permita construir uno. Como saben, estamos alcanzando rápidamente la capacidad en nuestra ubicación y anticipamos superar la capacidad con la ayuda de Dios. Por lo tanto, espero con gran anticipación lo que Dios hará en el futuro para darnos un nuevo lugar.</p>
        
        <p>A nuestros amigos y visitantes quiero decirles que “Grandes cosas ha hecho Jehová con nosotros; Estaremos alegres.” El Señor ciertamente ha hecho grandes cosas, por eso que ha sido muy emocionante en nuestra iglesia estos últimos cuatro meses. Poniendo la vista en el futuro, nuestra iglesia espera un continuo crecimiento ejerciendo fe en Dios mientras buscamos honrarlo. Por lo tanto, si no tiene una iglesia, ¡esperamos que considere unirse y servir con nosotros en la Iglesia Bautista Soli Deo Gloria!</p>
        
        <p class="left-align">En el nombre de Cristo Jesús,</p>

        <img class= "PhotoSig" src='{% static "PastorMikeSig.png" %}' alt="image description">

        <p class="PrintSig">Michael E. Ávila, Pastor</p>

    </div>

</body>
</html>


{% endblock %}